.signupmatter{
    margin-top: 70px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.signupform{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:20px;
    padding: 20px;
    width:300px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
}

.signupform:hover{
    box-shadow:0 4px 15px 0px rgba(255, 255, 255, 0.5);
}

input{
    width:90%;
    height: 25px;
    outline: none;
    border:0px;
    border-bottom:1px solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.0);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

input:hover{
    cursor: pointer;
}

input::placeholder{
    color: rgba(2, 214, 251,0.8);
}

.submit{
    width:40%;
    border-radius: 20px;
    height: 40px;
    padding: 5px;
    background-color: rgba(2, 214, 251,0.8) ;
}

.submit:hover{
    cursor: pointer;
    background-color: rgba(2, 214, 251,0.6);
}

.signupform h2{
    color: rgba(2, 214, 251,0.9);
}

.signupform p{
    color: gray;
}

.signupform .pcreate{
    margin-top: -15px;
}

.signupform span{
    color:rgba(2, 214, 251,0.8)
}

.signupform span:hover{
    cursor: pointer;
}

.signupform .button{
    width:60%;
    border-radius: 20px;
    height: 40px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.0);
    color:rgba(2, 214, 251,0.8) ;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.signupform .button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}